<server description="test server">

    <featureManager>
        <feature>jsp-2.2</feature>
        <feature>jsf-2.0</feature>
        <feature>cdi-1.2</feature>
        <feature>beanValidation-1.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="${httpPort}" >
        <tcpOptions soReuseAddr="true"/>
    </httpEndpoint>

    <application name="was_bug12" context-root="/was_bug12" location="${appLocation}" type="war" />

</server>
